<table class="table">
    <tr>
        <td class="isel_label">{{ form_label(form.itemcode) }}</td>
        <td class="isel_widget">{{ form_widget(form.itemcode) }}</td>
        <td class="isel_error">{{ form_errors(form.itemcode) }}</td>
    </tr>
</table>